.modal-medium{
    max-width: 768px;
}

.card-bg-dark{
    background-color: #000 !important;
}

.h-white{
    color: white;
}

.modal-submit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
}

.fa-star{
    color: #d9b100 !important;
}

.download_images{
    max-width: 95px !important;
}

.bgc-black{
    background-color: #000 !important;
}

.border-black{
    border-color: #000 !important;
}



.display_flex{
    display: flex;
}

.display_flex_center{
    display: flex;
    align-items: center;
}

.toggle {
	cursor: pointer;
	display: inline-block;
}
.toggle-switch {
	display: inline-block;
	background: #ccc;
	border-radius: 16px;
	width: 58px;
	height: 32px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		display: block;
		background: linear-gradient(to bottom, #fff 0%,#eee 100%);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
		width: 24px;
		height: 24px;
		position: absolute;
		top: 4px;
		left: 4px;
		transition: left 0.25s;
	}
	.toggle:hover &:before {
		background: linear-gradient(to bottom, #fff 0%,#fff 100%);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
	}
	.toggle-checkbox:checked + & {
		background: #6fc74d !important;
		&:before {
			left: 30px;
		}
	}
}
.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}
.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
    color: #fff;
}

.disabled_background_dark_red{
    background: #250000 !important;
}

.form-check-label{
    color: #fff !important;
}