

#hero {
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}


.d-grid {
    display: grid !important
}

.gap-2 {
    gap: .5rem !important
}

.image_btn{
    background: none;
    border: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.image_btn:hover {
    border: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: green;  /* Green border on hover */
}

.download_images{
    max-width: 95px !important;
}