{% extends "base.html" %}
{% block content %}


<link href="../assets/css/game.css" rel="stylesheet">
<script src="../assets/js/game.js"></script>


<div class="row gx-40 mt-30">
  <div class="col-xxl-8 col-lg-7">
      <div class="page-single game-details-wrap">
          <div class="page-img mb-50"><img class="w-100" src="{{background_image}}" alt="img"></div>
          <div class="page-content">
              <div class="game-title-wrap">
                  <h2 class="page-title text-white mb-0">{{name}}</h2>
              </div>
              <p class="mb-30">Emerging trends in the esports industry include the growth of mobile esports, the integration of virtual reality in gaming experiences, and the increasing involvement of traditional sports organizations in esports partnerships
                  and investments. Balancing screen time involves taking regular breaks, practicing the 20-20-20 rule (looking at something 20 feet away for 20 seconds every 20 minutes), and incorporating physical activity into daily routines.
                  Establishing a balance between gaming and other activities is crucial for overall well-being.</p>
              <p class="mb-30">Successful esports teams exhibit strong communication, strategic coordination, and individual player skills. Team chemistry, effective coaching, and adaptability to changing metas are also crucial factors. The rise of mobile
                  gaming has significantly expanded the gaming audience, reaching a broader demographic.</p>

          </div>
      </div>
  </div>
  <div class="col-xxl-4 col-lg-5">
      <aside class="sidebar-area">
          <div class="widget">
              <div class="widget-game-info">
                  <h2 class="game-info-title">Download Now</h2>
                  <div class="game-meta-list"><span>Mobile</span> <span>Action RPG</span> <span>PC</span></div>
                  <div class="game-rating-info">
                      <div class="rating-wrap"><span class="game-rating"><i class="fas fa-star"></i> 4.8</span> <span class="review-count">(2.6k Review)</span></div>
                      <div class="download-wrap">
                          <h5 class="download-wrap-title">10M+</h5><span class="download-wrap-text">Downloads</span></div>
                  </div>
                  <div class="btn-wrap">
                    {% if install_btn %}
                    <button href="#" data-toggle="modal" data-target="#installModal" onclick="pkg_list('{{game_path}}','Install')"><img src="/assets/images/install.png" alt="img"></button>
                    {% endif %}
                    {% if update_btn %}
                    <a href="#" data-toggle="modal" data-target="#updateModal"  onclick="pkg_list('{{game_path}}','Update')"></a>
                    {% endif %}
                    {% if dlc_btn %}
                    <a href="#" data-toggle="modal" data-target="#dlcModal"  onclick="pkg_list('{{game_path}}','DLC')"><img src="/assets/images/dlc.png" alt="img"></a>
                    {% endif %}
                      
                  </div>
              </div>
          </div>
      </aside>
  </div>
</div>


  

 
   
<!-- Install Modal -->
<div class="modal" id="installModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Install</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="installModal_content">

        </div>
      </div>
    </div>
  </div>
  
  <!-- Update Modal -->
  <div class="modal" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="updateModal_content">

        </div>
      </div>
    </div>
  </div>
  
  <!-- DLC Modal -->
  <div class="modal" id="dlcModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">DLC</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="dlcModal_content">
           
        </div>
      </div>
    </div>
  </div>
    

{% endblock %}