{% extends "base.html" %}
{% block content %}


<link href="../assets/css/game.css" rel="stylesheet">
<script src="../assets/js/game.js"></script>


<div class="row gx-40 mt-30">
  <div class="col-xxl-8 col-lg-7">
      <div class="page-single game-details-wrap">
          <div class="page-img mb-50"><img class="w-100" src="{{background_image}}" alt="img"></div>
          <div class="page-content">
              <div class="game-title-wrap">
                  <h2 class="page-title text-white mb-0">{{name}}</h2>
              </div>

              <div class="checklist list-two-column">
                    <ul>
                        <li><i class="far fa-shield-check"></i><span class="text-white">Genres:</span> {{genres}}</li>
                        <li><i class="far fa-shield-check"></i><span class="text-white">Platforms:</span> {{platforms}}</li>
                        <li><i class="far fa-shield-check"></i><span class="text-white">Released:</span> {{released}}</li>
                        <li><i class="far fa-shield-check"></i><span class="text-white">Updated:</span> {{updated}}</li>
                    </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xxl-4 col-lg-5">
      <aside class="sidebar-area">
          <div class="widget">
              <div class="widget-game-info">
                  <h2 class="game-info-title">Download Now</h2>

                  <div class="game-rating-info">
                      <div class="rating-wrap"><span class="game-rating"><i class="fas fa-star"></i> {{rating}}</span> <span class="review-count">({{ratings_count}} Review)</span></div>
                      <div class="download-wrap">
                          <h5 class="download-wrap-title">{{metacritic}}</h5><span class="download-wrap-text">Metacritic</span></div>
                  </div>
                  <div class="btn-wrap">
                    {% if install_btn %}
                    <button href="#" data-toggle="modal" data-target="#installModal" onclick="pkg_list('{{game_path}}','Install')"><img src="/assets/images/install.png" alt="img"></button>
                    {% endif %}
                    {% if update_btn %}
                    <a href="#" data-toggle="modal" data-target="#updateModal"  onclick="pkg_list('{{game_path}}','Update')"></a>
                    {% endif %}
                    {% if dlc_btn %}
                    <a href="#" data-toggle="modal" data-target="#dlcModal"  onclick="pkg_list('{{game_path}}','DLC')"><img src="/assets/images/dlc.png" alt="img"></a>
                    {% endif %}
                      
                  </div>
              </div>
          </div>
      </aside>
  </div>
</div>


  

 
   
<!-- Install Modal -->
<div class="modal" id="installModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Install</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="installModal_content">

        </div>
      </div>
    </div>
  </div>
  
  <!-- Update Modal -->
  <div class="modal" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="updateModal_content">

        </div>
      </div>
    </div>
  </div>
  
  <!-- DLC Modal -->
  <div class="modal" id="dlcModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">DLC</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="dlcModal_content">
           
        </div>
      </div>
    </div>
  </div>
    

{% endblock %}