{% extends "base.html" %}
{% block content %}


<link href="../assets/css/home.css" rel="stylesheet">
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/home.js"></script>

<div style="padding: 20px; background-color: black;">
  <img src="../assets/images/icons/logo.svg" style="width: 150px" alt="">
</div>
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
      <div>
        <p style="font-size: 20px; text-align: left; padding: 30px;" class="hwhite">Games</p>
      </div>
      <div id="game_list" class="row"></div>
    

  
    

{% endblock %}